---
import Layout from '../layouts/Layout.astro';

import Header from '../components/header.astro';
import Body1 from '../components/body1.astro';
import Body3 from '../components/body3.astro';
import News from '../components/news.astro';
import Donate from '../components/donate.astro';
import History from '../components/historycard.astro';
import Stats from '../components/stats.astro';
import JoinServer from '../components/joinServer.astro';
---

<Layout>
	<section id="home">
		<Header />
	</section>
	<section id="about">
		<Body1 />
	</section>
	<section id="features">
		<Body3 />
	</section>
	<section id="news">
		<News />
	</section>
	<!-- <section id="donate">
		<Donate />
	</section> -->
	<section id="testimonials">
		<History />
	</section>
	<section id="stats">
		<Stats />
	</section>
	<section id="join">
		<JoinServer />
	</section>
</Layout>

<style>

	section {
		scroll-margin-top: 80px;
		width: 100%;
	}

</style>
