<div
  class="hero min-h-screen rounded-2xl shadow-lg"
>
  <div class="hero-overlay rounded-2xl">
    <img src="https://kalpak-travel.com/wp-content/uploads/2017/11/central-asia-silk-road.jpg" alt="Central Asia" class="w-full h-full object-cover brightness-50 rounded-2xl"/>
  </div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-dvh">
      <h1 class="mb-5 text-6xl font-bold">We are Brimming with History, Tradition, and Culture</h1>
      <p class="mb-5">
        From the ancient Silk Road to modern-day innovations, Central Asia has always been a crossroads of civilizations. Our rich heritage is reflected in our diverse cultures, languages, and traditions that continue to thrive today. Join us as we celebrate and preserve the legacy of our ancestors while embracing the future with open arms.
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>  
</div>